<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Appenders>
        <!-- Appender for logging on console -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{dd-MM-yyyy HH:mm:ss,SSS} %-5p [%t] [%C{1}.%L] - %M() - %m%n%rThrowable{5, filters(${filters})}"/>
        </Console>
        <!-- Appender for logging into a file -->
        <RollingFile name="StreamingAESEncrypt" fileName="logs/StreamingAESEncrypt.log"
                     filePattern="logs/StreamingAESEncrypt%d{dd-MM-yyyy_HHmmss}.log">
            <PatternLayout
                    pattern="%d{dd-MM-yyyy HH:mm:ss,SSS} %-5p [%t] [%C{1}.%L] - %M() - %m%n%rThrowable{5, filters(${filters})}"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="StreamingAESDecrypt" fileName="logs/StreamingAESDecrypt.log"
                     filePattern="logs/StreamingAESDecrypt%d{dd-MM-yyyy_HHmmss}.log">
            <PatternLayout
                    pattern="%d{dd-MM-yyyy HH:mm:ss,SSS} %-5p [%t] [%C{1}.%L] - %M() - %m%n%rThrowable{5, filters(${filters})}"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <RollingFile name="CPLULogger" fileName="logs/CPLULogger.log"
                     filePattern="logs/CPLULogger%d{dd-MM-yyyy_HHmmss}.log">
            <PatternLayout
                    pattern="%d{dd-MM-yyyy HH:mm:ss,SSS} %-5p [%t] [%C{1}.%L] - %M() - %m%n%rThrowable{5, filters(${filters})}"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <RollingFile name="EpsilonDistributionLogger" fileName="logs/EpsilonDistributionLogger.log"
                     filePattern="logs/EpsilonDistributionLogger%d{dd-MM-yyyy_HHmmss}.log">
            <PatternLayout
                    pattern="%d{dd-MM-yyyy HH:mm:ss,SSS} %-5p [%t] [%C{1}.%L] - %M() - %m%n%rThrowable{5, filters(${filters})}"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <RollingFile name="KWiseDeltaDependentHashFamilyLogger" fileName="logs/KWiseDeltaDependentHashFamilyLogger.log"
                     filePattern="logs/EpsilonDistributionLogger%d{dd-MM-yyyy_HHmmss}.log">
            <PatternLayout
                    pattern="%d{dd-MM-yyyy HH:mm:ss,SSS} %-5p [%t] [%C{1}.%L] - %M() - %m%n%rThrowable{5, filters(${filters})}"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <RollingFile name="TrueRandomnessLogger" fileName="logs/TrueRandomnessLogger.log"
                     filePattern="logs/TrueRandomnessLogger%d{dd-MM-yyyy_HHmmss}.log">
            <PatternLayout
                    pattern="%d{dd-MM-yyyy HH:mm:ss,SSS} %-5p [%t] [%C{1}.%L] - %M() - %m%n%rThrowable{5, filters(${filters})}"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>


        <RollingFile name="DistributedCPLogger" fileName="logs/DistributedCPLogger.log"
                     filePattern="logs/DistributedCPLogger%d{dd-MM-yyyy_HHmmss}.log">
            <PatternLayout
                    pattern="%d{dd-MM-yyyy HH:mm:ss,SSS} %-5p [%t] [%C{1}.%L] - %M() - %m%n%rThrowable{5, filters(${filters})}"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="debug">
            <!-- <AppenderRef ref="Console"/>-->
        </Root>
        <Logger name="StreamingAESDecrypt" level="debug">
            <AppenderRef ref="StreamingAESDecrypt" level="debug"/>
        </Logger>
        <Logger name="TrueRandomnessLogger" level="debug">
            <AppenderRef ref="TrueRandomnessLogger" level="debug"/>
        </Logger>
        <Logger name="StreamingAESEncrypt" level="debug">
            <AppenderRef ref="StreamingAESEncrypt" level="debug"/>
        </Logger>
        <Logger name="CPLULogger" level="debug">
            <AppenderRef ref="CPLULogger" level="debug"/>
        </Logger>
        <Logger name="EpsilonDistributionLogger" level="debug">
            <AppenderRef ref="EpsilonDistributionLogger" level="debug"/>
        </Logger>
        <Logger name="KWiseDeltaDependentHashFamilyLogger" level="debug">
            <AppenderRef ref="KWiseDeltaDependentHashFamilyLogger" level="debug"/>
        </Logger>
        <Logger name="DistributedCPLogger" level="debug">
            <AppenderRef ref="DistributedCPLogger" level="debug"/>
        </Logger>
    </Loggers>
</Configuration>
